body{
    font-family: 'Times New Roman';
    background-color : #1e265b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    color : #fff;
    transition: color .5s ease-in-out;
}
.btn {
    cursor: pointer;
}
.clicked {
    color : #7f8c8d;
}
.js-clock h1 {
    font-size: 15vh;
}
input {
    opacity: .7;
    border: 0;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    padding: 5px 10px;
}
.js-form input {
    margin-bottom: 2vh;
}
input::placeholder {
    font-size: 1rem;
    color: #333;
    text-indent: 0.5rem;
}
.form,
.greetings {
    display: none;
}
.js-toDoList li span {
    color: #fff;
}
.showing {
    display: block;
}
.js-weather {color: #fff;}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}